[submodule "vendor/extensions/radiant-share-layouts-extension"]
	path = vendor/extensions/radiant-share-layouts-extension
	url = git://github.com/radiant/radiant-share-layouts-extension.git
[submodule "vendor/extensions/radiant-language-switch"]
	path = vendor/extensions/radiant-language-switch
	url = git://github.com/lorenjohnson/radiant-language-switch.git
